# IDE's
stump.sublime-workspace

# Localhost DB
backend/stump_backend/stump_backend/db.sqlite3

# Secrets
backend/stump_backend/.env*

# Python unit test coverage report
backend/stump_backend/stump_backend/.coverage
backend/stump_backend/stump_backend/cover

# Static files
backend/stump_backend/staticfiles

# NPM installation
node_modules/

# Ignore side-loaded files fetched by gulp
backend/stump_backend/stump_backend/static/stump-vote-frontend-demo/
