[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.4"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.4"
django-nose = "*"
coverage = "*"
whitenoise = {extras = ["brotli"],version = "*"}
django-rest-knox = "*"
django-localflavor = "*"

[requires]
python_version = "3.6"
